Adafruit-Blinka==8.39.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==3.2.3
adafruit-circuitpython-shtc3==1.1.14
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
influxdb==5.3.1
lgpio==0.2.2.0
msgpack==1.0.8
paho-mqtt==2.0.0
pyftdi==0.55.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pyusb==1.2.1
requests==2.31.0
rpi-lgpio==0.4
rpi_ws281x==5.0.0
six==1.16.0
smbus==1.1.post2
sysv-ipc==1.1.0
typing_extensions==4.11.0
urllib3==2.5.0
